
<div class= "Designers" style="margin:20px">
  <h1>Designers</h1>

  <table>
    <tr>
      <th>Picture</th>
      <th>Specialization</th>
      <th>Description</th>
      <th>User</th>
    </tr>

    <% @designers.each do |designer| %>
        <tr>
          <td><%= designer.specialization_category_id %></td>
          <td><%= designer.description %></td>
          <td><%= designer.user_id %></td>
        </tr>
    <% end %>
  </table>
</div>

<br />


